<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>List of Orders</h1>
  </ion-text>
  <ion-grid>
    <ion-row>
        <ion-col size="12" *ngFor="let order of orders$|async">
            <ion-card>
                <ion-card-content>
                    <p>Order Quantity: {{order.quantity}}</p>
                    <p>Date of delivery: {{order.delivery_date}}</p>
                    <p>Remarks: {{order.remarks}}</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openDetailModal(outlet)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
