ion-item{
    --padding-start:0px;
    margin-bottom:10px;
}
ion-fab-button{
    height: 35px;
    width: 35px;
    margin-right: 3px;
}
p{
    margin: 2px 0px;
    color: gray;
}
#search{
    margin: 20px 10px;
    width: 230px;
}

