ion-content{
    --ion-background-color: orange;
}
ion-button{
    --ion-background-color: red;
}
ion-icon{
    color:white;
    font-size: 50px;
}
p{
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}


