<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/site-logo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="assets/site-logo.png" alt="">
    </ion-toolbar>
  </ion-header>
  <div class="header">
    <form action="" method="post">
      <ion-row>
      <ion-col size="12">
        <label for="username" class="form-label">Username</label>
      </ion-col>
      <ion-col size="12">
        <input type="text" id="username" class="form-control">
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col size="12">
      <label for="password" class="form-label">Password</label>
    </ion-col>
    <ion-col size="12">
      <input type="password" id="password" class="form-control">
    </ion-col>
  </ion-row>
      <ion-button expand="block" shape="round" routerLink="/dashboard">login</ion-button>
    </form>
  </div>
</ion-content>
